<settings>
    <pauzaUrl>http://www.pauza.hr/</pauzaUrl>>
    <neighbourhood>zagreb-knezija</neighbourhood>
    <maxMinOrder>70</maxMinOrder>
    <maxAverageDeliveryTime>50</maxAverageDeliveryTime>
    <minRating>4.5</minRating>
    <peopleToNotify>
        <skypeId>echo123</skypeId>
    </peopleToNotify>
</settings>
